body {
    background-color: gainsboro;
    width: 510px;       
        height: 510px;
        margin: 0 auto;
}

#insta {
    background-color: white;
    width: 510px;
    display: flex;
    justify-content: center;
    color: deeppink;
    
}
img{
    width: 510px;
    height: 500px;
}

.feed{
    background-color: white;
    width: 510px; 
    margin-top: 50px;
    margin-bottom: 50px;
    color: turquoise

}
.pieDeFoto{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: blueviolet;
  
}
.fecha{
    margin-left: 460px;
    margin-top: -40px;
    margin-bottom: 10px;
}